.buy-button {
    background-color: $success-color;
    border-radius: 0.5rem;
    margin: 0.75rem;
    padding: 0.5rem 0;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    a {
        color: $error-color;
        text-decoration: none;
    }
    &:hover {
        background-color: lighten($color: $primary-color, $amount: 10);
        cursor: pointer;
    }
    &:active {
        background-color: $error-color; 
        cursor: pointer;
        a {
            color: $primary-color;
        }
    }
}
.b-alta {
    background-color: $success-color;
    border-radius: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    color: lighten($color: $secondary-color, $amount: 30);
    font-size: $font-size-lg;
    font-weight: bold;
    margin: 0.9rem auto;
    padding: 0.75rem 0;
    width: 25rem;
    &:hover {
        background-color: lighten($color: $success-color, $amount: 10);
        cursor: pointer;
    }
    &:active {
        background-color: $error-color; 
        cursor: pointer;
        color: $primary-color;
    }
}


@media (min-width: 900px) and (max-width: 1200px) {
    .b-alta {
        width: 21rem;
    }
}
@media (min-width: 620px) and (max-width: 900px) {
    .b-alta {
        width: 33rem;
    }
}
@media (max-width: 620px) {
    .b-alta {
        width: 17rem;
    }
}