
.label-required::after {
    content: "*";
    color: $error-color;
    margin-left: 0.5rem;
}
label {
    display: inline-block;
    color: $primary-color;
    font-size: $font-size-lg;
    font-weight: bold;
    margin: 0.25rem 0 0 0;
    padding: 0.2rem 0;
    text-align: left;
    width: 24rem;
}
@media (min-width: 900px) and (max-width: 1200px) {
    label{
        width: 20rem;
    }
}
@media (max-width: 900px) {
    label{
        text-align: center;
        width: 100%;
    }
}



