.search-bar {
    margin: 0;
    text-align: center;
  
    .search-input {
      padding: 0.5rem;
      font-size: 1rem;
      border: 1px solid $secondary-color;
      transition: border-color 0.15s ease-in-out;
      text-align: center;
      width: 100%;
      
      &:focus {
        outline: none;
        border-color: $error-color;
      }
      &:hover {
          background-color: #efefeff5;
      }
    }
  }
