
/*Colors*/
$primary-color: #02111B;
$secondary-color: #BDD5EA;
$error-color: #FE5F55;
$success-color: #577399;


/*Font sizes*/
$font-size-md: 0.9rem;
$font-size-lg: 1.1rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2.12rem;


$navbar-height: 4.5rem;
$footer-height: 2.5rem;