.footer-container {
    align-items: center;
    background-color: $success-color; 
    display: flex;
    justify-content: space-between;
    padding: 0 6rem;
}
.contact-container {
    p {
        justify-content: left;
        margin: 0;
    }
}
.network-container {
    nav {
        ul{
            list-style-type: none;
            li {
                display: inline-block;
                padding: 0.5rem;
                a {
                    display: flex;
                    align-items: center;
                    img {
                        height: auto;
                        width: 2.75rem;
                    }
                }
            }
        }
    }
}
@media (max-width: 600px) {
    .footer-container {
        padding: 2rem 0 0 0;
        text-align: center;
        display: flex;
        flex-direction: column;

    }

}