body {
    margin: 0;

}
.header-container {
    background-color: $primary-color;
    padding: 1.5rem 0 0 0;
    a {
        text-decoration: none;
        text-align: center;
        h1 {
            padding: 0 4.2rem;
            margin: 0;
            text-shadow: 2px 2px 4px silver; 
            &:hover {
            text-shadow: 4px 4px 8px silver;  
            }   
        }
    }
    .header-container-sec {
        align-items: center;
        border-bottom: 0.3rem solid $error-color;
        display: flex;
        justify-content: space-between;
        padding: 0.25rem 2rem;
        nav {
            ul {
            list-style-type: none;
            display: flex;
            padding: 0;
                li {
                    a {
                        text-align: right;
                        text-decoration: none;
                        padding: 0 1.4rem;
                        font-weight: 600;
                        &:link {
                            color: $success-color;
                            text-decoration: none;
                        }
                        &:hover {
                            color: lighten($color: $secondary-color, $amount: 20);
                            cursor: pointer;
                        }
                        &:active {
                            color: $error-color;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    .form-search {
        display: block;
        width: 18rem;
    }
}


@media (min-width: 470px) and (max-width: 900px) {
    .header-container{
        text-align: center;
    
        .header-container-sec {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;
            a {
                h1 {
                    padding: 1rem 0 0 0 ;
                    margin: 0;
                }
            }
            .form-search {
                display: block;
                margin: 0 auto;
                padding: 0 0 1rem 0;
                width: max-content;
                input {
                    width: 22rem;
                }
            }
        }
    }
}


@media (max-width: 470px) {
    .header-container{
        text-align: center;
    
        .header-container-sec {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;
            a {
                h1 {
                    padding: 1rem 0 0 0 ;
                    margin: 0;
                }
            }
            nav {
                ul {
  
                    li {
                        a {
                            padding: 0 1.1rem;
                        }
                    }
                }
            }
            .form-search {
                display: block;
                margin: 0 auto;
                padding: 0 0 1rem 0;
                width: max-content;
                input {
                    width: 15rem;
                }
            }
        }
    }

}