.navbar__container {
    background-color: $primary-color;
    border-bottom: 0.3rem solid $error-color;
    height: $navbar-height;
    position: fixed;
    position: absolute;
    top: 0;
    width: 100%;
    .navbar__wrapper{
        align-items: center;
        display: flex;
        justify-content: space-between;
        height: 100%;
        margin: 0 10%;
        nav {
            display: flex;
            align-items: center;
        }
    }
    a {
        font-size: $font-size-md;
        font-weight: 600;
        text-decoration: none;
        padding: 0 1.4rem;
        &:first-child {
            color: lighten($color: $secondary-color, $amount: 20);
            font-family: 'Martel', serif;
            font-size: $font-size-xl;
            padding-right: 4.2rem;
            margin: 0;
            text-shadow: 2px 2px 4px silver; 
            &:hover {
            text-shadow: 4px 4px 8px silver;  
            }   
        }
        &:active {
            color: $error-color;
            text-decoration: underline;
        }
        &:hover {
            color: lighten($color: $secondary-color, $amount: 20);
            cursor: pointer;
        }
        &:link {
            color: $success-color;
            text-decoration: none;
        }
    }
}
